@use "variables" as *;

:root {
    --gradient-deg: 180deg;
    --gradient-width: 10deg;
    --animation-diration: 30s;

    --color-1: greenyellow;
    --color-2: greenyellow;

    --bg-color-900: #041c32;
    --bg-color-800: #07243f;
}
